	.p_reg{
		margin: 0;
		font-style: italic;
	}
	#wrapper{
		margin-left: 200px;
		background-color: #eee9e9;
		margin-right: 420px;
		border: 3px solid black;
		box-shadow: 3px 3px 3px gray;
		width: 300px;
		height: 350px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#title{
		padding: 0px;
		background-color:  #0000FF;
		border: 3px solid black;
	}
	#header{
		height: 700px;
		width: 100%;
		border: 2px solid black;
		box-shadow: 3px 3px 3px gray;


	}

	
	#img_1{
		height: 100px;
		width: 100%;
	}
	body{

	}
	#input{
		margin-right: 20px;
		font-size: 18px;
	}