#map {
	 		width: 500px;
	 		height: 400px;

	 	}
	 	#left_block{
	 		float: left;
	 		/*border: 1px solid black;*/
	 		margin-right: 20px;
	 	}
	 	ul{
	 		list-style: none;
	 	}
	 	#bodyContent{
	 		min-width: 100px;
	 		min-height: 100px;
	 	}
	 	#first_form{
	 		visibility: hidden;
	 	}
	 	#message_info{
	 		visibility: hidden;
	 		text-align: center;
	 		margin: 0px;
	 	}
	 	#div_name{
	 		margin: 0px 20px 0px 40px;
	 	
	 	}