#map 
{
	width: 500px;
	height: 400px;
	visibility: visible;
}
#left_block
{
	float: left;
	margin-right: 20px;
	visibility: hidden;
}
ul
{
	list-style: none;
}
#bodyContent
{
	min-width: 100px;
	min-height: 100px;
}
#first_form
{
	visibility: hidden;
}
#message_info
{
	visibility: hidden;
	text-align: center;
	margin: 0px;
	height: auto;
	width: auto;
}
#div_name
{
	margin: 0px 20px 0px 40px;
}

#user_wrapper{
	visibility: hidden;
	position: absolute;
	top: 150px;
	left: 20px;
	z-index: 998;
}
#avatar{
	height: 100px;
}